@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: gotham;
  src: url(/home/wmt-pc-21/Practice/bestcart/Gotham-Font/GothamMedium.ttf);
}

div {
  font-family: gotham;
}